*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #0d1117;
    
}

a{
    text-decoration: none;
    color: inherit;
}

.layout{
    color: #e7ecf3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
    
}

.layout__h1,.layout__h3{
    text-align: center;
    color: #e7ecf3;
    margin-top: 2rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Rubik';
    padding: 1rem;
}

.ejercicios__img{
    border: 1px solid white;
    width: 400px;
    height: 300px;
}



.layout__ejercicios{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media(min-width:840px){
    .layout__ejercicios{
        margin-top: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        
    }

    .layout{
        color: #e7ecf3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        width: 100%;
        height: 60vh;
        margin-top: 2rem;
        
    }
}
